:root {
  --bg-color: #f4f5f4;
  --color-lightbrown: #d1d092;
  --color-blue: #3a88c8;
  --color-lightpink: #bca794;
  --color-darkgreen: #1d4c56;
  --color-badge: #96b099;
  --color-black: #000;
  --color-lightgreen: #45bc97;
  --text-white: #f4f5f4;
  --color-brown: #b4ab48;
  --color-darkbrown: #88600e;
  --color-subheading: #08090acc;
 
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  background-repeat: no-repeat;
  background-position: center -85px;
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-image:
    linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.221)
    ),
    url(./assets//bg-light.svg);
  
 
}
 /* ///navbar//// ////////*/

header nav {
  display: flex;
  justify-content: center;
  backdrop-filter: blur(12px);
  position: sticky;
  z-index: 10px;
  top:0px;
  width: 100%;
  padding: 1rem;
  gap: 3rem;
  
}

.nav-logo{
  display: flex;
  padding: 0px;
  gap: 12rem;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.logo img {
  width: 100px;
}

.link {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.link li {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
 
 
}

.link li a {
  color: var(--text-white);
  font-weight: 500;
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
  padding: 4px 12px;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.cont-sales-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  background-color: rgba(244, 244, 244, 0.104);
  font-weight: 500;
  padding: 4.5px 12px;
  border-radius: 9999px;
  border: 1px solid transparent;
  color: var(--text-white);
}

.strt-free-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  border-radius: 9999px;
  border: 1px solid transparent;
  background-color: var(--bg-color);
  color: var(--color-black);
  font-size: 15px;
  font-weight: 500;
  padding: 4.5px 12px;

}

 
.hero {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  flex-direction: column;
  justify-content: center;
}

                       /* ////////////////////////badges////////////////// */
.badge {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem;
  border-radius: 50px;
  background-color: #1818182e;
  width: fit-content;
  color: var(--text-white);
  justify-content: center;

}

.badge span {
  margin: 1px;
  font-size: 12px;
  padding: 0.125rem 0.5rem;
  background-color: #0c8c5e;
  border-radius: 50px;
}
.badge p {
  font-size: 14px;
  font-weight: 600;
}
.badge svg {
  width: 1rem;
}

 

                             /* /////////////// heading part here/////////// */
.hero h1 {
  width: 100%;
  max-width: 43rem;
  line-height: 1.15;
  margin-top: 50px;
  font-size: 60px;
  text-align: center;
  color: var(--text-white);
  font-weight: 600;
}
 
/* ///////////////////subheading part//////////// */

.subheading {
 
  width: 100%;
  text-align: center;
  margin-top: 24px;
  font-size: 18px;
  text-wrap: balance;
  line-height: 1.5rem;
  max-width: 29.5rem;
  margin-inline: auto;
  color: var(--bg-color);
}
 


/* /////////////////// email+btn part/////////////// */

.hero form {
  margin-top: 2rem;
  max-width: 22.5rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(12px);
  gap: 0.375rem;
  border-radius: 9999px;
  padding: 0.25rem;
  width: 100%;
  border: 1px solid var(--border-soft, #e5e7eb3b);
  background-color: var(--border-soft, rgba(237, 237, 237, 0.188));
 
}

form input {
  
  color: var(--bg-color);
  width: 100%;
  background-color: transparent;
  padding: 0px 0.5rem;
  outline: none;
  border: none;

}

form input::placeholder {
  color: #d6d6d6;
}

.email-cta-btn {

  justify-content: center;
  height: fit-content;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-black);
  gap: 0.375rem;
  padding: 4.5px 12px;
  border-radius: 9999px;
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
}

 

                         /* /////////// background part////////// */

.hero-background-illustration {
 
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 100px;
  background-position: center;
}
.hero-background-illustration img {
  border-radius: 10px;
}
 

                      /* ///////////logossssss/////////// */

.company-wrapper {
  display: flex;
  width: 100%;
  margin: 90px 0px;
  justify-content: center;
 
}

.company {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 250px);
}

.company-container {
  display: flex;
  padding: 20px 10px;
  color: var(--color-black);
  justify-content: center;
  align-items: center;
}

/*  
                          ///////////feature section////////// */

.feature {
  display: flex;
  align-items: center;
  margin: 200px 0px;
  flex-direction: column;
  justify-content: center;
}
.feature p {
  text-align: center;
  line-height: 1.5;
  color: #585858;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400px;
}
.feature h1 {
  font-size: 40px;
}
.feature-card {
 
  display: flex;
  gap: 24px;
  margin-top: 50px;
  min-width: 500px;
}
.feature-card-layout {
  display: flex;
  align-items: start;
  gap: 1rem;
  width: fit-content;
  border-radius: 30px;
  padding: 24px;
  margin-bottom: 24px;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(232, 232, 232);
}
.feature-card-layout p,
h3,


h2 {
  
  padding: 0px;
  text-align: start;
  text-wrap: balance;
}

.feature-heading-main {
  font-weight: 500;
}
.green-small-heading {

  font-weight: 400;
  font-size: 14px;
  color: #0c8c5e;
  text-transform: uppercase;
  font-family: "Geist Mono", monospace;

}
                        /* ////////////UI Preview part///////////// */

.assistant-card {
  
  border-radius: 30px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(232, 232, 232);
}
.assistant-card .text-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.assistant-card .text-wrapper p {
  padding: 0px;
}

.assistant-card img {
  margin-top: 100px;
}
 
                                     /* ///////////////Enterprise Features Section starts/////////////////// */

.enterprise-feature {

  display: flex;
  gap: 1rem;
  justify-content: center;
  min-width: 500px;
  margin-bottom: 38px;
  flex-direction: column;
  align-items: center;

}

.enterprise-header {
  display: flex;
  gap: 12rem;
  padding-bottom: 48px;
}

.enterprise-feature-text-wrapper {
  display: flex;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;

}

.enterprise-feature-text-wrapper h1 {
  font-size: 40px;
}

.enterprise-feature-text-wrapper p {
  font-size: 16px;
}

.explore-for-enterprise-btn {
  gap: 6px;
  font-weight: 500;
  padding: 7px 24px;
  border-radius: 9999px;
  height: fit-content;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid transparent;
  background-color: var(--color-black);
  color: var(--bg-color);
}

.enterprise-feature-card-wrapper {
  display: flex;
  gap: 6rem;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.enterprise-feature-card h2 {
  margin: 32px 0px 16px 0px;
}
.enterprise-feature-card p {
  font-size: 16px;
  color: #08090acc;
}

.enterprise-feature-banner {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url(./assets//enterprise-feature-banner.png);
  height: 520px;
  width: 1028px;
  border-radius: 30px;
  padding: 4rem;
  background-repeat: no-repeat;
  background-size: 105% auto;
  background-repeat: no-repeat;
}

.enterprise-feature-banner:hover {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets//enterprise-feature-banner.png);
}

.enterprise-small-heading {
  color: white;
  font-weight: 600;
}
.enterprise-feature-banner h2 {
  color: white;
  line-height: 1.3;
  padding: 20px 0px 30px 0px;
  font-weight: 600;
}
.enterprise-feature-banner p {
  color: white;
  font-weight: 500;
}
.enterprise-feature-banner p span svg {
  width: 10px;
  rotate: -90deg;
}
.feature-banner-text {
  margin-top: 8rem;

  gap: 2.5rem;
}

.feature-banner-text .card h1 {
  color: var(--bg-color);
  font-weight: 400;
  font-size: 40px;
}
.feature-banner-text .card p {
  color: #a8a8a8;
  font-weight: 500;
  font-size: 14px;
  margin-top: 6px;
  line-height: 1.5;
}

.enterprise-feature-company {
  display: flex;
  min-width: 1028px;
  align-items: center;
  padding: 0px 24px;
  justify-content: space-evenly;
  margin-bottom: 200px;
}

.enterprise-feature-company .company-container img {
  filter: brightness(0) saturate(100%) invert(65%);
}
.enterprise-feature-company .company-container img:hover {
    filter:none;
    cursor: pointer;
}

 

                     /* ////////////////Case Studies - Customer Stories ///////////// */

.case-study {
  margin-bottom: 200px;
}
.case-study-heading {
  display: flex;
  gap: 1rem;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.case-study-heading h1 {
  font-size: 40px;
}
.case-study-heading p {
  font-size: 16px;
  text-align: center;
  color: var(--color-subheading);
}

.carousel {
  overflow: hidden;
}

.track {
  display: flex;
  margin: 0px 200px;
  gap: 2rem;
}

.carousel-card {
  max-width: 400px;
}

.image-container {

  display: flex;
  width: 400px;
  height: 290px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 120% auto;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.image-container img {
  filter: brightness(0) saturate(100%) invert(1);
}
.carousel-card p {
  color: var(--color-subheading);
}

.carousel-card button {
  
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: 2rem;
  border: none;
  background-color: transparent;
}
.carousel-card button span svg {
  width: 10px;
  rotate: -90deg;
}
.carousel-card button:hover {
  color: #0c8c5e;
  cursor: pointer;
}

.carousel-button {
  margin-top: 80px;
  text-align: center;
}

.carousel-button span {
  margin: 5px;
}

 
                             /* ///////////// final cll action start//////////// */

.cta {
  display: flex;
  text-align: center;
  margin-bottom: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta h1 {
  font-size: 40px;
  font-weight: 600;
}

.cta p {
  font-size: 16px;
  margin-top: 16px;
}

.cta-btn {
  margin-top: 40px;
}

.get-started-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 9px 24px;
  border-radius: 9999px;
  border: 1px solid rgb(198, 198, 198);
  background-color: var(--color-black);
  color: var(--bg-color);
}

.cta-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta-card .cta-card-icon {
  border-radius: 20px;
  border: 1px solid rgb(197, 197, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: fit-content;
}

.cta-card .cta-card-icon svg {
  width: 36px;
  color: #0c8c5e;
}

.cta-card h2 {
  font-size: 20px;
}

.cta-card a {
  margin-top: 30px;
  text-decoration: none;
  color: #0c8c5e;
}

.cta-card a span svg {
  width: 10px;
  rotate: -90deg;
}

.cta-card-wrapper {
  display: flex;
  gap: 10rem;
  margin-top: 100px;
}
 


                                   /* ///////////footer part/////////////*/

footer {
    margin-bottom: 100px;
    width: full;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-head {
    min-width: 1028px;
    display: flex;
    justify-content: space-between;
    padding: 64px 32px 24px;
    border: 1px solid rgb(203, 203, 203);
}

.social-logo {
    color: #55555585;
    display: flex;
    gap: 1rem;
}

.social-links {
    display: flex;
    border-top: none;
    width: 1028px;
    gap: 60px;
    padding: 26px 26px;
    border: 1px solid rgba(203, 203, 203, 0.634);
}

.social-links .links {
    margin: 20px;
}

footer .social-links .links p{
    font-size: 13px;
    margin-top:20px ;
    font-weight: 500;
}

.end {
    display: flex;
    width: 1028px;
    height: 100px;
    padding: 40px;
    gap: 20px;
    border-top: none;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(203, 203, 203, 0.634);
}
.footer-end {
    display: flex;
    gap: 3px;
    width: 1028px;
    justify-content: start;
    align-items: center;
    border-top: none;
    padding:30px 50px;
    border: 1px solid rgba(203, 203, 203, 0.634);
}

.footer-badge {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.footer-badge span {
    display: flex;
    color: #0c8c5e;
    align-items: center;
    justify-content: center;
}

.footer-badge span svg {
    width: 20px;
}

.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c1c1c161;
    padding: 5px 10px;
    gap: 10px;
    border-radius:50px ;
    width: fit-content;
}

.theme-toggle button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 15px;
  
}